.firstStep{
    width: 1200px;
    height: 1000px;

    /* background-color: gray; */
    padding-top:300px;
    
    /* 가운데 정렬 */
    display: flex;
    justify-content: left;
    align-items: center;
}


.typingIntroWrapper {
    fontFamily: 'Noto Sans CJK KR';
    fontSize: '3em';
    display: 'inline-block';
    color: "white";
    marginBottom: '300px';
    marginLeft: '100px';
    position: 'relative';
    zIndex: '1'; /* 텍스트를 배경 이미지 위에 유지 */
}